.card-content {
	position: relative;
	background: #25e2f4;
    border-radius: 16px 16px 0 16px;
    padding: 33px 11px;
    max-width: 330px;
    height: 245px;
    box-shadow: 0px 4px 4px #FF3380;
    background-color: #FFBDD6;
}

.card-content:after {
	content: '';
	position: absolute;
	right: 15px;
	top: 93.79%;
	width: 0;
    scale: 0.8;
	height: 0;
	border: 38px solid transparent;
	border-left-color: #FFBDD6;
    box-shadow: 0px 6px 0px -2px #FF3380;
	border-right: 0;
	border-bottom: 0;
	margin-top: -19px;
	margin-right: -38px;
}